.headliner {
    background-color: grey;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.Bundes {
    color: black;
    font-weight: bold;
    font-size: xx-large;
}

.liga {
    color: red;
    font-size: xx-large;
    font-weight: normal;
}

img {
    max-width: 50px;
    height: auto;
    margin-left: 50px;
}

.teams {
    color: black;
    margin-right: 0px;
}

.Spieltag {
    color: black;
}